<div class="row">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Oops!</h1>
            <h2>
                404 No Encontrado</h2>
            <div class="error-details">
                Atencion, Una falla ha ocurrido, Esta pagina no fue encontrada!
            </div>
            <div class="error-actions">
                <a routerLink="" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span>
                    Volver A La Pagina Principal </a>
            </div>
        </div>
    </div>
  </div>
