<h2>Certificaciones</h2>
<div class="card-deck">
    <app-certificacion-card certificado="0"></app-certificacion-card>
    <app-certificacion-card certificado="1"></app-certificacion-card>
    <app-certificacion-card certificado="2"></app-certificacion-card>
</div>

<h2>Modulos</h2>
<div class="card-deck">
    <app-modulo-card modulo="0"></app-modulo-card>
    <app-modulo-card modulo="1"></app-modulo-card>
    <app-modulo-card modulo="2"></app-modulo-card>
    <app-modulo-card modulo="3"></app-modulo-card>
    <app-modulo-card modulo="4"></app-modulo-card>
</div>
